#newstartup {
    background: url('sky.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    border-radius: 0;
}


#newstartup h1 {
    color: #2B4779;
    font-weight: bold;
}

#newstartup image {
position:absolute;
z-index: 2;
}

#jumbohome {
    background-position: right;
    background-size: 20%;
    background-color: rgb(190,210,228);
}
