{% extends "generic.html" %}
{% block contents %}

    <h2>Login</h2>

        <a href="{% url 'social:begin' 'twitter' %}" title="Twitter" class="btn btn-social btn-md btn-twitter">
            <i class="fa fa-twitter"></i> Sign in with Twitter
        </a>

{#        <a href="{% url 'social:begin' 'github' %}" title="GitHub" class="btn btn-social btn-md btn-github">#}
{#            <i class="fa fa-github"></i> Sign in with GitHub#}
{#        </a>#}


{% endblock %}
{% block scripts %}
    {% csrf_token %}

{% endblock %}

